@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-Regular.eot');
	src: local('Inter'), local('Inter-Regular'),
		url('../fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Inter-Regular.woff') format('woff'),
		url('../fonts/Inter-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Actay';
	src: url('../fonts/Actay-Thin.eot');
	src: local('Actay'), local('Actay-Thin'),
		url('../fonts/Actay-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Actay-Thin.woff') format('woff'),
		url('../fonts/Actay-Thin.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Actay';
	src: url('../fonts/Actay-Regular.eot');
	src: local('Actay'), local('Actay-Regular'),
		url('../fonts/Actay-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Actay-Regular.woff') format('woff'),
		url('../fonts/Actay-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Actay';
	src: url('../fonts/Actay-Bold.eot');
	src: local('Actay'), local('Actay-Bold'),
		url('../fonts/Actay-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Actay-Bold.woff') format('woff'),
		url('../fonts/Actay-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}



